@model BookStore.Domain.Entities.Book

<h1>Delete Book</h1>

<h4>Are you sure you want to delete this book?</h4>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Title: @Model.Title</h5>
        <p class="card-text">Author: @Model.Author</p>
        <p class="card-text">Price: @Model.Price.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</p>
        <p class="card-text">Release Date: @Model.ReleaseDate?.ToShortDateString()</p>
        <p class="card-text">Description: @Model.Description</p>
    </div>
</div>

<form asp-area="Admin" asp-action="DeleteConfirmed" method="post">
    <input type="hidden" name="id" value="@Model.BookID" />
    <button type="submit" class="btn btn-danger mt-3">Delete</button>
    <a asp-area="Admin" asp-action="Index" class="btn btn-secondary mt-3">Cancel</a>
</form>
