@model IEnumerable<BookStore.Web.Areas.Admin.Models.UserViewModel>

<h2>Danh sách người dùng</h2>

<!-- Hiển thị thông báo thành công hoặc lỗi -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Vai trò</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.Roles</td> 
                <td>@user.LockoutStatus</td> 
                <td>
                    <a href="@Url.Action("EditRoles", "User", new { userId = user.UserId })" class=" btn btn-primary">Sửa vai trò</a>

                    <a href="@Url.Action("ManageLockout", "User", new { userId = user.UserId })" class="btn btn-warning">Sửa trạng thái</a>
                </td>
            </tr>
        }
    </tbody>
</table>
